# Cache, session files and logs
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs
/var/log/*
!var/log/.gitkeep

# Managed by Composer
/bin/*
!bin/console
/vendor/

# Php Storm
/.idea/*
